<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TecInfoII</title>

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}

</head>

<body id="page-top">

    <div id="wrapper">


        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">INFORMÁTICA</div>
            </a>


            <hr class="sidebar-divider my-0">

           
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>TecInfo<sup>2</sup></span></a>
            </li>


            <hr class="sidebar-divider">

 
            <div class="sidebar-heading">
                DJANGO WITH MYSQL
            </div>

            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create_asistencia' %}">
                    <i class="fas fa-fw fa-check-circle"></i>
                    <span>Create</span></a>
            </li>

         
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-fw fa-bars"></i>
                    <span>Read</span></a>
            </li>
        </ul>
        
        <div id="content-wrapper" class="d-flex flex-column">

            
            <div id="content"> -->
                {% include side_up.html %}
                <h1>Tabla de contenido</h1>
                
                <table border="1" class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Matícula </th>
                        <th>Nombre </th>
                        <th>Sala </th>
                        <th>Hora </th>
                        <th>Update </th>
                        <th>Delete </th>
                    </tr>
                    <tbody>
                        {% for horario in lista_horarios_sala %}
                        <tr>
                            <td>{{horario.id}} </td>
                            <td>{{horario.matricula}} </td>
                            <td>{{horario.nombre}} </td>
                            <td>{{horario.sala}} </td>
                            <td>{{horario.hora}} </td>
                            <td><a href="{% url 'edit_asistencia' horario.id %}">Update </a></td>
                            <td><a href="{% url 'delete_asistencia' horario.id %}">Delete</a></td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                {% include side_down.html %}
                <!-- <a type="button" href="{% url 'create_asistencia' %}" class="btn btn-secondary">Crear</a>
                            </div>
                            
                
                        </div>
                        
                
                    </div>
                    
                    {# JS y jQuery Bootstrap #}
                    {% bootstrap_javascript jquery='full' %}
                </body>
                
                </html> -->