{% extends "side_up.html" %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container py-4">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="http://www.unsis.edu.mx/laboratorios/images/labs_informatica/Lab_Inf1_tb.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Laboratorio de Tecnologías web</p>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">El Laboratorio de tecnologías, cuenta con un área física de 6.00 x 4.00
                            mts. Este laboratorio dispone de diversos recursos que apoyan al 15% del total de materias
                            del Plan de Estudios de la Licenciatura en Informática..</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="http://www.unsis.edu.mx/laboratorios/images/labs_informatica/Lab_Inf2_tb.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Laboratorio de Redes</p>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">El Laboratorio de Redes, cuenta con un área física de 6.00 x 4.00 mts. Este
                            laboratorio dispone de diversos recursos que apoyan al 15% del total de materias del Plan de
                            Estudios de la Licenciatura en Informática.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="http://www.unsis.edu.mx/laboratorios/images/labs_informatica/Lab_Inf3_tb.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Laboratorio de IHC</p>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">El Laboratorio de IHC, cuenta con un área física de 6.00 x 4.00 mts. Este
                            laboratorio dispone de diversos recursos que apoyan al 15% del total de materias del Plan de
                            Estudios de la Licenciatura en Informática.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="http://www.unsis.edu.mx/laboratorios/images/labs_informatica/Lab_Inf4_tb.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Laboratorio de Sistemas Digitales</p>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Laboratorio de Sistemas digitales</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="http://www.unsis.edu.mx/laboratorios/images/labs_informatica/Lab_Inf5_tb.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Laboratorio de Sistemas Operativos</p>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Laboratorio de Sistemas Operativos</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="http://www.unsis.edu.mx/laboratorios/images/labs_informatica/Lab_Inf7_tb.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Laboratorio de Software</p>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Laboratorio de Software</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
{% endblock %}